body {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  
  /* CSS personalizado */
  .card {
    width: 40%; /* Ancho del 50% del contenedor principal */
    margin: 0 auto; /* Centra horizontalmente la tarjeta */
    margin-bottom: 2em; /* Margen inferior de 0.5em entre etiquetas y campos de entrada */
  
  
  }
  
  .btn-primary {
    background-color: orangered; /* Reemplaza esto con tu color personalizado */
  }
  
  .formulario_div {
    margin: 1rem;
  }
  
